body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 250px;
    height: 300px;
    background-color: gray;
   position: relative;
   border-radius: 10px 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.month{
    height: 50px;
    margin: 0;
    background-color: aqua;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}
.day{
    height: 40px;
    margin: 0;
    font-size: 20px;
    color: darkgray;
    text-align: center;
    padding-top: 10px;
}
.date{
    /* height: 30px; */
    margin: 0;
    font-size: 85px;
    color:rgb(255, 251, 251);
    text-align: center;
    font-weight: bold;
   
}
.year{
    margin: 20px 0;
    height: 70px;
    font-size: 20px;
    color:darkgray;
    text-align: center;
   
}